.ad-banner {
  position: fixed;
  top: 200px;
  width: 150px;
  z-index: 999;
}

.ad-banner.left {
  left: 20px;
}

.ad-banner.right {
  right: 20px;
}

.ad-banner img {
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgb(153, 146, 146);
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .ad-banner {
    position: absolute;
    width: 120px;
    z-index: 1000;
  }

  .ad-banner.left {
    top: 80px;    
    left: 10px;
  }

  .ad-banner.right {
    top: 80px;     
    right: 10px;
  }

  .ad-banner img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  .close-btn {
    top: -10px;
    right: -10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
